body {
  font-family: 'Times New Roman';
  background-color: #A29F15;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10;
  padding: 10;
}

.comment-input {
  color:rgb(0, 0, 0);
  width: 40%;
}

.post-input {
  color:rgb(0, 0, 0)
}

.login-input {
  width: 10%
}

.signup-input {
  width: 10%
}

.profile-cards {
  width: 100%;
}

.profile-card {
  background-color: rgb(232, 249, 237);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10;
  padding: 0.2rem;
  width: 12%;
  border-radius: 0.5rem;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.2rem;
  border-radius: 0.6rem;
}

.header-link {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.2rem;
  border-radius: 0.6rem;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  margin: 2;
  padding: 0.1rem;
}

.profile-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  padding: 4px 5px;
  display: inline-block;
}

.profile-link:visited {
  color: rgb(0, 0, 0);
}

.profile-link:hover {
  color: rgb(255, 60, 158);
  font-family: cursive;
}

h2.profile-name {
  margin-left: 0.5em;
}

h3.profile-post {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-block-start: 0.3em;
  margin-block-end: 0em;
}

p.profile-post {
  margin-left: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 0em;
}

a.profile-post {
  text-decoration: underline;
  margin-left: 1.2em;
  /* vertical-align: middle; */
  margin-block-start: 0em;
  margin-block-end: 0.3em;
}

img.profile-post {
  max-width: 90%;
  margin-left: 2em;
}

.delete {
  margin-left: 1em;
}

p.prof-link {
  text-decoration: under;
  margin-left: 1em;
  vertical-align: middle;
}

div.profile-post {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 38%;
  border-radius: 1em;
  border: 1px solid;
}

a.addpost {
  margin-left: 1.2em
}

div.comment {
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 58%;
  border-radius: 1em;
  border: 1px solid;
}

h3.comment {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 0.5em;
  margin-top: 0.3em;
}

p.comment {
  margin-left: 0.75em;
  margin-top: 0em;
  margin-block-start: 0em;
  margin-block-end: 0.3em;
}

h2.comments-header {
  margin-block-start: 0.83em;
  margin-block-end: 0.3em;
  margin-inline-start: 0.4em;
  margin-inline-end: 0px;
}

div.post-detail {
  margin-top: 0.5em;
  margin-left: 1em;
}

h2.post-detail {
  /* margin-left: 0.75em; */
  /* margin-top: 0em; */
  margin-block-start: 0.5em;
  margin-block-end: 0.3em;
  margin-inline-start: 0.3em;
  margin-inline-end: 0px;
}

p.post-detail {
  margin-left: 0.75em;
  margin-top: 0em;
  margin-block-start: 0em;
  margin-block-end: 0.3em;
}